@model BlogListViewModel

@{
    ViewData["Title"] = "Blog Posts";
}

<div class="row mb-4">
    <div class="col">
        <h1 class="text-light">@ViewData["PageTitle"]</h1>
        <p class="text-muted">Total Posts: @ViewBag.TotalPosts</p>
    </div>
</div>

<!-- Hit Counter -->
<div class="row mb-4">
    <div class="col">
        <p class="text-light">You are visitor number: <span id="hitCounter">12345</span></p>
    </div>
</div>


<div class="row">
    @foreach (var blog in Model.Blogs)
    {
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-between">
                        <h2 class="card-title h4 text-light">@blog.Title</h2>
                        <p class="card-text text-light">@blog.Id </p>
                    </div>
                    <p class="card-subtitle mb-2 text-muted">
                        By @blog.AuthorUsername on @blog.PublishedDate.ToShortDateString()
                    </p>
                    <p class="card-text">
                        @blog.Content.Substring(0, Math.Min(200, blog.Content.Length))...
                    </p>
                    <a asp-action="Details" asp-route-id="@blog.Id" class="btn btn-outline-light">Read More</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="row mb-4">
    <div class="col">
        <h3 class="text-light">Sign the Guestbook</h3>
        <form asp-action="SignGuestbook" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="guestName" placeholder="Your Name" required />
            </div>
            <div class="form-group mt-2">
                <textarea class="form-control" name="guestMessage" rows="3" placeholder="Your Message"
                    required></textarea>
            </div>
            <button type="submit" class="btn btn-outline-light mt-2">Sign</button>
        </form>
    </div>
</div>
